:9000 {
	handle {
		root * /caddy/
		try_files /index.json
		header Content-Type "application/json"
		header Cache-Control "no-store"
		file_server {
			status 503
		}
	}

	log
}
:4200 {
	handle {
		root * /caddy/
		try_files /index.html
		header Cache-Control "no-store"
		file_server
	}

	log
}
